<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>幸运连连翻</title>

  <!--http://www.html5rocks.com/en/mobile/mobifying/-->
  <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1"/>

  <!--https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">

  <!-- force webkit on 360 -->
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
  <!-- force edge on IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="msapplication-tap-highlight" content="no">

  <!-- force full screen on some browser -->
  <meta name="full-screen" content="yes"/>
  <meta name="x5-fullscreen" content="true"/>
  <meta name="360-fullscreen" content="true"/>
  
  <!-- force screen orientation on some browser -->
  <meta name="screen-orientation" content="<%=orientation%>"/>
  <meta name="x5-orientation" content="<%=orientation%>">

  <!--fix fireball/issues/3568 -->
  <!--<meta name="browsermode" content="application">-->
  <meta name="x5-page-mode" content="app">

  <!--<link rel="apple-touch-icon" href=".png" />-->
  <!--<link rel="apple-touch-icon-precomposed" href=".png" />-->

    <!--维护页-->
  <script>
    var xmlhttp;
    function loadXMLDoc(url)
    {
    xmlhttp=null;
    if (window.XMLHttpRequest)
      {// code for all new browsers
      xmlhttp=new XMLHttpRequest();
      }
    else if (window.ActiveXObject)
      {// code for IE5 and IE6
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
    if (xmlhttp!=null)
      {
      xmlhttp.onreadystatechange=state_Change;
      xmlhttp.open("GET",url,false);
      xmlhttp.send(null);
      }
    else
      {
      alert("Your browser does not support XMLHTTP.");
      }
    }
    function state_Change()
    {
    if (xmlhttp.readyState==4)
      {// 4 = "loaded"
      if (xmlhttp.status==200)
        {// 200 = OK
        // ...our code here...
          var infoObject = JSON.parse(xmlhttp.responseText);
          console.log('游戏是否打开'+infoObject.result)
          if(!infoObject.result){
            window.location.href = 'protect.html';
          }
     
        }
      else
        {
        alert("Problem retrieving XML data");
        }
      }
    }
    var isOpenUrl = 'http://fanpaiapi.icegame.net/api/v1/paly/isgameopen'
    var prizeInfo = loadXMLDoc(isOpenUrl);

  </script>
  <script type="text/javascript">
    //是否获取到参数
    //  是否获得Code
    function getCode(){
        // ---------获取?后的数据----------------------------
        //  取得查询字符串并去掉开头的问号
        var qs =(location.search.length > 0 ? location.search.substring(1) : ""),
            //  保存数据的对象
            args = {},
            //取得每一项
            items = qs.length ? qs.split("&") : [],
            item = null,
            name = null,
            value = null,
            // 在for循环中使用
            i = 0,
            len = items.length;
        //逐个将每一项添加到args对象中
        for ( i = 0; i < len; i++) {
            item = items[i].split('=');
            name = decodeURIComponent(item[0]);
            value = decodeURIComponent(item[1]);    
            if(name.length){
                args[name] = value;
            }
          }
          for(key in args){
            if(args[key].length == 0){
              args[key] = args.channelnum;
            }            
        }
        return args;

        // ------------------------------------------------
    };
    //判断是否微信登陆
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        // console.log(ua);//mozilla/5.0 (iphone; cpu iphone os 9_1 like mac os x) applewebkit/601.1.46 (khtml, like gecko)version/9.0 mobile/13b143 safari/601.1
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }
    //          var skip_url =

    var token = window.localStorage.getItem('token');
    var args = getCode();
//    if(args.companycode != null && args.barcode != null && args.channelnum != null){
//        window.sessionStorage.setItem('companycode', args.companycode);
//        window.sessionStorage.setItem('barcode', args.barcode);
//        window.sessionStorage.setItem('channelnum', args.channelnum);  
//    }
    if(args.companycode != null && args.barcode != null ){
        window.sessionStorage.setItem('companycode', args.companycode);
        window.sessionStorage.setItem('barcode', args.barcode);
    } 
    if(args.channelnum != null){
        window.sessionStorage.setItem('channelnum', args.channelnum);
        if(args.companycode == null && args.barcode == null ){
            window.location.href = window.location.href + '&companycode='+ args.channelnum + '&barcode='+ args.channelnum;
        }                
    }


    // //情况修改
    // if(args.companycode && args.barcode&& args.channelnum){
    //     window.sessionStorage.setItem('channelnum', args.channelnum);
    //     window.sessionStorage.setItem('companycode', args.companycode);
    //     window.sessionStorage.setItem('barcode', args.barcode);
    // }else if(args.channelnum){
    //     window.sessionStorage.setItem('channelnum', args.channelnum);
    //     if(!args.companycode && !args.barcode ){
    //         window.location.href = window.location.href + '&companycode='+ args.channelnum + '&barcode='+ args.channelnum;
    //     }       
    // }

    // //-------------------------  



        
    if(args.code == null){
        if(isWeiXin()&&token == null){
            // console.log(" 是来自微信内置浏览器")
            window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5b96a96f31a67eca&redirect_uri=https://game.yoosh.tv/login&response_type=code&scope=snsapi_base&state=http://fanpai.icegame.net/#wechat_redirect';
            // window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5b96a96f31a67eca&redirect_uri=https://game.yoosh.tv/login&response_type=code&scope=snsapi_base&state=http://fanpai2.icegame.net/#wechat_redirect';
            // window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5b96a96f31a67eca&redirect_uri=https://game.yoosh.tv/login&response_type=code&scope=snsapi_base&state=http://game.huoxingwan.com/Casual-games/flopAlpha2/#wechat_redirect';

        }else{
//                window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5b96a96f31a67eca&redirect_uri=https://game.yoosh.tv/login&response_type=code&scope=snsapi_base&state='+'http://game.huoxingwan.com/Casual-games/flopAlpha2/'+'#wechat_redirect ';
        }
    }
</script>  

<!-- <script type="text/javascript" src="jweixin-1.2.0.1.js"></script>     -->

  <link rel="stylesheet" type="text/css" href="style-mobile.css"/>
  <link rel="stylesheet" type="text/css" href="loading.css"/>
  

</head>
<body>
  <canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
  <div id="splash">
    <div class="progress-bar stripes">
      <span style="width: 0%"></span>
      <div id="loadText">loading...</div>
      <img src="window.png" />
      <div id="guide"><p id="tt"></p></div>
    </div>
  </div>
<script src="src/settings.js" charset="utf-8"></script>
<%=eruda%>
<script src="main.js" charset="utf-8"></script>
<script src="spin.min.js"></script>

<script>
  var items
  var xmlhttp;
  function loadXMLDoc(url)
  {
  xmlhttp=null;
  if (window.XMLHttpRequest)
    {// code for all new browsers
    xmlhttp=new XMLHttpRequest();
    }
  else if (window.ActiveXObject)
    {// code for IE5 and IE6
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  if (xmlhttp!=null)
    {
    xmlhttp.onreadystatechange=state_Change;
    xmlhttp.open("GET",url,false);
    xmlhttp.send(null);
    }
  else
    {
    alert("Your browser does not support XMLHTTP.");
    }
  }
  
  function state_Change()
  {
  if (xmlhttp.readyState==4)
    {// 4 = "loaded"
    if (xmlhttp.status==200)
      {// 200 = OK
      // ...our code here...
          var infoObject = JSON.parse(xmlhttp.responseText);

                let itemsOne = infoObject.data.first_prize_name.length ? infoObject.data.first_prize_name_display.split("(") : [];
                let itemsTwo = infoObject.data.second_prize_name.length ? infoObject.data.second_prize_name_display.split("(") : [];
                let itemsThree = infoObject.data.third_prize_name.length ? infoObject.data.third_prize_name_display.split("(") : [];
               
                
      items =  ['翻出3张相同卡牌即可获奖哦~','翻出3张7可获得'+itemsOne[0], '翻出3张铃铛可获得'+itemsTwo[0], '翻出3张樱桃可获得'+itemsThree[0] ];
      }
    else
      {
      alert("Problem retrieving XML data");
      }
    }
  } 
    
  var companycode = window.sessionStorage.getItem("companycode");
    var requestUrl = 'http://fanpaiapi.icegame.net/api/v1/commodity/get/'+companycode;

  // var requestUrl = 'http://139.199.60.18/api/v1/commodity/get/1';
  
  var prizeInfo = loadXMLDoc(requestUrl);
  
  console.log(items)
  
//  var items = ['翻出3张相同卡牌即可获奖哦~','翻出3张7可获得'+prizeInfo[0],'翻出3张铃铛可获得'+prizeInfo[1],'翻出3张樱桃可获得'+prizeInfo[2]];
  
  var startGuide = function(){
    var tt = document.getElementById('tt');
    var before;
//    var items = ['翻出3张相同卡牌即可获奖哦~','翻出5张指定卡牌可获得一台iPhone8','翻出3张7可获得500元现金红包','翻出3张7可获得500元现金红包','翻出3张樱桃可获得10元话费','活动奖品将在3个工作日内发放'];
      var selectFrom = function(lowerValue, upperValue){
          var choices = upperValue - lowerValue +1;
          return Math.floor(Math.random()*choices +lowerValue);
      };
    var index = selectFrom(0, items.length-1);
    while(before == index){
      index = selectFrom(0, items.length-1);    
    }
    var before = index;
    var showItem = items[index];
    tt.innerHTML = showItem;    
  }
  
  startGuide();
  
  setInterval(function(){
    startGuide();
  }, 2000)
  
    
</script>


</body>
</html>
